<div class="grafana-info-box">
  <h5>How it works</h5>
  <p>
    This datasource returns a timeseries showing the number of items saved to Pocket. In
    order to produce the timeseries, this datasource needs to connect to your Pocket
    account.
  </p>
  <div ng-if="!ctrl.hasToken">
    Click the "Connect to Pocket" button below. This will open Pocket to let you log in
    and authenticate the datasource.
    <div class="gf-form-button-row">
      <button type="button" class="btn btn-success" ng-click="ctrl.connect()">
        Connect to Pocket
      </button>
    </div>
    <p class="m-t-2">
      Note: This will allow the datasource to retrieve your list of Pocket items,
      including the item URLs and titles. It will not allow the datasource to see your
      password or to modify your items.
    </p>
  </div>
  <div ng-if="ctrl.hasToken">
    The datasource has received an access token from Pocket. If you experience any
    authentication issues, you can refresh it here.
    <div class="gf-form-button-row">
      <button type="button" class="btn btn-secondary" ng-click="ctrl.connect()">
        Refresh connection to Pocket
      </button>
    </div>
    <p class="m-t-2">
      If you have not done so, create a dashboard with a panel to see your Pocket usage.
    </p>
  </div>
  <div class="gf-form m-t-2">
    <span class="gf-form-label width-10">Status</span>
    <input class="gf-form-input width-20" disabled type="text" ng-model="ctrl.status" />
  </div>
</div>
